.container {
  width: 100%;
  height: 100vh;
  background-color: white !important;
  /* font-family: "Open Sans", sans-serif; */
  margin: 0 auto;
}

/* Content area styles */
.content {
  /* width: 100%;
  min-height: calc(100vh - 120px); */
  .content {
    padding-top: 120px; /* Add padding equal to navbar height */
    min-height: calc(100vh - 120px);
    overflow-y: auto;
  }
}

/* Ensure layout doesn't constrain NavBar */
@media (max-width: 1400px) {
  .container {
    /* overflow-x: auto; */
    /* width: 100%; */
  }
  .content {
    /* overflow-y: auto; */
    /* min-width: 800px; */
  }
}
