/* components/MonthYearPicker.module.css */
.container {
  display: flex;
  flex-direction: column;

  /* margin-left: 20px; */
  /* margin-bottom: 1rem; */
}

.label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.input {
  border-radius: 8px;
  border: 2px solid #c5cfd1;
  background-color: #fff;
  color: #000000;
  padding: 5px;
  padding-left: 10px;
  font-size: 15px;
  height: 40px !important;
  width: 150px;
  gap: 10px !important;
}

/* @media (min-width: 1140.98px) and (max-width: 1140px) { */
@media (max-width: 1140px) {
  .input {
    width: 130px;
  }
}

@media (max-width: 1074px) {
  .input {
    width: 100px;
  }
}
