.button {
  background-color: #194d7e;
  color: white;
  /* padding: 10px 20px; */
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  /* height: 40px !important; */
}

.buttonContents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button:hover {
  opacity: 0.8;
}
