.button {
  background-color: #1ea7fd;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  /* height: 40px !important; */
}

.button:hover {
  opacity: 0.8;
}
