.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.activeLink {
  color: black;
  background-color: #cdcdcd;
  padding: 6px 8px;
  border-radius: 5px;
  font-weight: bold;
  border-bottom: none;
  border-color: transparent;
  outline: none;
  text-decoration: none;
  margin-left: 10px;
}

.button {
  /* background: red; */
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 45px;
  width: 45px;
}

.logOut {
  background-color: transparent;
  color: white;
  border: none;
  margin-left: 50px;
  cursor: pointer;
  font-size: 16px;
}
