.navbar {
  background-color: #194d7e;
  color: white;
  padding: 0.5rem 1rem;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  /* height: 48px;
  width: auto; */

  height: 120px;
  width: auto;
  margin: -20px 0;
  padding: 0;
  display: block;
}

.desktopMenu {
  display: flex;
  gap: 1.5rem;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  color: #00b8b0;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  color: #0a1f33;
  border-radius: 3px;
}

/* Mobile menu */
.mobileMenu {
  display: flex;
  flex-direction: column;
  color: #0a1f33;
  background-color: #ffffff;
  padding: 1rem;
}

.mobileLink {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0;
}

.mobileLink:hover {
  color: #00b8b0;
}

/* Responsive */
@media (max-width: 768px) {
  .desktopMenu {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .link {
    color: #0a1f33;
  }

  .mobileLink {
    color: #0a1f33;
  }
}
