.container {
  width: 100%;
  height: 100vh;
  padding: 20px 50px;
  /* margin: 30px; */
  /* background-color: white !important; */
  /* font-family: "Open Sans", sans-serif; */
  /* margin: 0 auto; */
}

.topContainer {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  margin: 100px auto; */
}

.topContainer h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: -10px;
}

.description {
  font-size: 18px;
  /* margin-top: 20px; */
  font-style: italic;
  font-weight: 300;
}

/* .button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
} */

.actions {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  /* justify-content: center; */
  gap: 15px;

  margin-bottom: 20px;
}

.signInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  margin-bottom: 20px;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  margin: 100px auto; */
}

.button {
  background: #28a745;
  color: #fff;
  border: none;
  /* width: 250px; */
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

/* .authSection {
  margin-top: 100px;
} */

.buttonSignUp {
  width: 250px;
  background: #28a745;
  color: #fff;
  border: none;
  width: 250px !important;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.noAccountText {
  margin-top: 70px;
}
